
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codenames</title>
    <link rel="stylesheet" href="/css/lobby.css">
    <!--<script src="/js/lobby.js"></script>-->
</head>

<body class="lobby">

    <div class="grid">

        <div class="score1 gridscore">
            <div class="score">
                Cartes restantes :
            </div>

            <div class="value">
                
            </div>

        </div>

        <div class="score2 gridscore">
            <div class="score">
                Cartes restantes :
            </div>

            <div class="value">
                
            </div>

        </div>


        <div class="indices">
            <div class="clef">
                <input type="text" id="mot_clef"> Saisir un mot-clé !</input>
            </div>

            <div class="nombre">
                <input type="text" id="nb_mots"> Choisir le nombre de mots à faire deviner.</input>
            </div>
            <div class="saisie">
                <button type="submit"> Envoyer !</button>
            </div>

        </div>

        <div class="equipe equipe1">
            <table>
                <tr class="redspy">
                    <td>
                        Espion :
                    </td>
                    <td id="espion1">
                        
                    </td>
                </tr>
                <tr class="redagent">
                    <td>
                        Agent :
                    </td>
                    <td id="agent1">
                        
                    </td>
                </tr>
            </table>
        </div>

        <div class="equipe equipe2">
            <table>
                <tr class="bluespy">
                    <td>
                        Espion :
                    </td>
                    <td id="espion2">
                        
                    </td>
                </tr>
                <tr class="blueagent">
                    <td>
                        Agent :
                    </td>
                    <td id="agent2">
                        
                    </td>
                </tr>
            </table>
        </div>


        <div class="plateau" id="plateau">

            
        </div>



</body>


</html>